<html>

<head>
<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

  var socket = io.connect('http://localhost:8080');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
  socket.on('devuelvo', function (data) {
	alert(data);
  });

  socket.on('partida', function(data) {
  	$('.partidas').html('Partida creada: '+data.partida+ ', esperando jugador...');

  });

  socket.on('recargar', function(data) {
  	$(".partidas").html('');
  	getPartidas();
  });

  socket.on('disconnected', function(data) {
  	alert('usuario desconectado');
  });


	function crearPartida() {
		//alert('cliquio');
		//socket.emit('partidaNueva', { msj: 'holis' });
		/*$.get( "/maxPartida", function( data ) {
			var num = data.numero + 1;
			console.log(data.numero);
			var partida = {fecha:Date(), player1:1, numero: num};
			$.post( "/partidas", partida )
			.done(function(data) {
				socket.emit('partidaCreada', data);
			});
		});*/
		
		$.post( "/partidas", {fecha:Date(), player1:1} )
		.done(function(data) {
			socket.emit('partidaCreada', data);
		});
	}

	function getPartidas(){
		$.get( "/partidas", function( data ) {
	 		data.forEach(function(item){
				$('.partidas').append('<div class="partida">'+item.numero+'</div>');
			});
		});
	}

	function sendLogin(){
		var user = $('#user').val();
		var password = $('#password').val();
		$.post( "/auth/login", {username: user, password: password} )
		.done(function(data) {
			console.log(data);
			localStorage.setItem('userToken', data.token);
			$.get( "/home", { token: data.token }, function(data) { 
				$('.main').html('');
				$('.main').append(data);
				/*$.get( "/partidas", function( data ) {
			 		data.forEach(function(item){
						$('.partidas').append('<div class="partida">'+item.numero+'</div>');
					});*/

				$.ajax({
				  method: "GET",
				  url: "/partidas",
				  'beforeSend': function(xhr) {
					    if (localStorage.getItem('userToken')) {
					      xhr.setRequestHeader('x-access-token', localStorage.getItem('userToken'));
					    }
					}
				})
				.done(function( res ) {
			 		res.forEach(function(item){
						$('.partidas').append('<div class="partida">'+item.numero+'</div>');
					});
				});
			});
			/*$.ajax({
		         url: "/home",
		         data: { token: data.token },
		         type: "GET",
		         beforeSend: function(xhr){xhr.setRequestHeader('x-access-token', data.token);},
		         success: function() { alert('Success!' + data.token); }
		      });*/
		});
	}
  
function isLogued(){
	var token = localStorage.getItem('userToken');
	if(token){
		$.get( "/home", { token: token }, function(data) { 
				$('.main').html('');
				$('.main').append(data);

				$.ajax({
				  method: "GET",
				  url: "/partidas",
				  'beforeSend': function(xhr) {
					    if (localStorage.getItem('userToken')) {
					      xhr.setRequestHeader('x-access-token', localStorage.getItem('userToken'));
					    }
					}
				})
				.done(function( res ) {
			 		res.forEach(function(item){
						$('.partidas').append('<div class="partida">'+item.numero+'</div>');
					});
				});
			});
	}
}

function logout(){
	localStorage.removeItem('userToken');
}
</script>
<link rel="stylesheet" type="text/css" href="./css">
</head>
<body onload="isLogued();">
	<div class="main">
		<form method="post" action="#">

		user: <input type="text" name="user" id="user"><br />
		password: <input type="text" name="password" id="password"><br />
		
		<a onclick="sendLogin();" href="javascript:void(0);">Login</a>
		</form>
	</div>
</body>

</html>