<script type="text/javascript">

	$(document).ready(cargarPartidas);


	function cargarPartidas() {
		$.ajax({
	      type: "GET",
	      url: "/partidas",
	      data: {username: sessionStorage.getItem('username'), md5: sessionStorage.getItem('md5')}
	    })
	  .done(function( data ) {
	  	//console.log(data);
	    if(Object.keys(data).length > 0) {
	    	var htmlString = '';
	    	/*data.forEach(function(e, i, a) {
	    		htmlString += '<div>'+e.numero+'</div>';
	    	});*/
	  		for(var index in data) {
	  			console.log(data.index);
	  			htmlString += '<div>'+data[index].numero+'</div>';
	  		}
	    	$('.partidas').html(htmlString);
	    }
	  });
	}

	socket.on('cambio_en_partidas', cargarPartidas);

	
</script>
<a href="javascript:void(0)" onclick="logConsola()">Holis</a>
<a href="javascript:void(0)" onclick="crearPartida()">Crear partida</a>
<a href="javascript:void(0)" onclick="logout()">Logout</a>
<div class="partidas">

</div>